.back{
  color: rgb(0, 113, 133);
  font-size: 18px;
}

.shoes{
  font-size: 27px;
  font-weight: bold;
}

.stock{
  color: rgba(0, 118, 0, 0.818);
  font-weight: bolder;
  font-size: 18px;
}

.free{
  font-size: 18px;
  font-weight: lighter;
}

.cart-button{
  background-color: rgba(255, 216, 20, 0.818);
  height: 34px;
  width: 130px;
  border-radius: 50px;
  font-size: 16px;
  border: none;
  margin-right: 8px;
  cursor: pointer;
}

.buy-button{
  background-color: rgba(255, 164, 28, 0.801);
  height: 34px;
  width: 130px;
  border-radius: 50px;
  font-size: 16px;
  border: none;
  margin-right: 8px;
  cursor: pointer;
}
