p{
  font-family: montserrat;
}

.model{
  font-size: 46px;
  font-weight: bold;
  margin-left: 90px;
  margin-top: 0;
  margin-bottom: 0;
}
.orders{
  font-size: 24px;
  margin-top: 3;
}
.delivery{
  text-decoration: underline;
}